<%= turbo_stream_from article if article.persisted? %>
<%= form_with(model: article, id: "articleForm") do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <% if article.draft_loaded %>
      (latest draft shown)
      <%= link_to "load saved version", "?no_draft=1"%>
    <% end %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<div data-controller="content-autosaver"
     data-content-autosaver-url-value="<%= article_draft_articles_path(article) if article.persisted? %>"
     data-content-autosaver-refresh-interval-value="<%= DraftArticle::SAVE_INTERVAL.to_i %>"
     data-content-autosaver-content-source-element-id-value="<%= dom_id(article, [:article_content, :trix_input].compact.join("_")) %>"
     data-content-autosaver-content-submission-field-value="draft_article[content]"
     ></div>
